@{
    ViewBag.Title = "Home Page";
    if (ViewBag.queueNos == null) {
        ViewBag.queueNos = new List<String>();
        for (int i = 0; i < 8; i++)
        {
            ViewBag.queueNos.Add(i.ToString());
        }
    }
}

<div class="grid" style="height:100vh;width:100vw">
    @foreach (string queueNo in ViewBag.queueNos)
    {
        <div class="item">@queueNo</div>
    }
</div>

<style>
    .grid {
        display: grid;
        height: 100vh;
        width: 100vh;
        grid-template-columns: 1fr 1fr;
    }

    .item {
        align-self: center;
        justify-self: center;
        font-size:200px;
    }
</style>
